.team-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.team-cards {
  background-color: #ffffff33;
  height: 150px;
  width: 400px;
  border-radius: 7px;
  padding: 20px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
}
.team-logo-img {
  height: 120px;
  width: 100px;
  margin-right: 20px;
}
.logo-name {
  font-size: 30px;
  font-family: 'Bree Serif';
  font-weight: 500;
  color: #ffffff;
}
.team-link {
  text-decoration: none;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
