.team-match-bg-container {
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d, #1e293b);
  background-size: cover;
  background-position: center;
  padding: 50px;
}
.recent-matches-list {
  display: flex;
  flex-wrap: wrap;
}

.back-button {
  display: inline-block;
  margin: 15px 0;
  padding: 8px 16px;
  background-color: #0b69ff;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.pie-chart-container {
  margin: 20px auto;
  text-align: center;
  background-color: #202a44;
  width: 1100px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}
.pie-chart-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  font-family: 'Bree Serif';
}
